<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_mold">

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find franka_description)/arm_simulation/molds/arm_mold.gazebo" />

  <!-- Used for fixing mold to Gazebo 'base_link' -->
  <link name="world"/>
  <joint name="mold_to_world" type="fixed">
    <parent link="world"/>
    <child link="arm_mold"/>
    <origin xyz="0.6765 -0.0505 0.1000" rpy="0.0 0.0 0.0" /> <!-- xyz="0.585994 0.1 0.2477107" -->
    <dynamics damping="1.0" friction="0.0"/>
  </joint>

  <!-- arm_mold Link -->
  <link name="arm_mold">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_description/meshes/visual/Manequim.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_description/meshes/collision/Manequim.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="50"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

</robot>
